<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs your location to show nearby fundraisers.</string>
    
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs your location to show nearby fundraisers.</string>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.googleusercontent.apps.756159035417-rve5pmj8m07g9jlj08rn0jv0gjbgm049</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.756159035417-rve5pmj8m07g9jlj08rn0jv0gjbgm049</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
