<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Google Sign-In URL Scheme -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.googleusercontent.apps.427313864413-accijp545v7hhrh3dnafk5k69c4m15c5</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.427313864413-accijp545v7hhrh3dnafk5k69c4m15c5</string>
            </array>
        </dict>
    </array>
    
    <!-- Location Permission Description -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show nearby fundraisers</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>For payment processing</string>
</dict>
</plist>
